.account-container {
    padding: 5.625rem 9.375rem;
}

.account-container .title-primary {
    font-size: 1.625rem;
    margin-bottom: 3rem;
}

.account-flex {
    display: flex;
    gap: 2rem;
}

.profil,
.infos {
    flex: 1;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 31.75rem;
    margin-bottom: 2rem;
}

.profil {
    padding: 0 2.5rem;
}

.profil-image {
    border-radius: 50%;
    width: 135px;
    height: 135px;
    margin-bottom: 5px;
}

.profil-modify {
    font-size: 0.875rem;
    text-align: center;
    color: var(--color-font-tertiaire);
    text-decoration: underline;
    cursor: pointer;
}

.profil-name {
    text-transform: capitalize;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.7rem;
}

.profil-date {
    font-size: 0.875rem;
    color: var(--color-font-tertiaire);
    margin-bottom: 1.3rem;
}

.profil-library {
    font-size: 0.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.5rem;
}

.profil-nb-book {
    display: flex;
    justify-content: center;
    gap: 4px;
    font-size: 0.875rem;
    margin-bottom: 4rem;
}

.infos {
    padding: 2.5rem 2rem;
}

.infos-container {
    width: 100%;
    max-width: 322px;
}

.infos-form {
    width: 100%;
}

.infos-title {
    margin-bottom: 1.25rem;
}

.infos-form input {
    background: #EDF2F6;
}

.table {
    display: grid;
    grid-template-columns: 140px 155px 180px 222px 180px auto;
    background-color: #ccc;
    letter-spacing: 0.1rem;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

.table-header,
.table-row {
    display: contents;
}

.table-row:nth-child(even) .cell {
    background-color: white;
}

.table-row:nth-child(odd) .cell {
    background-color: #EDF2F6;
}

.table-header {
    text-transform: uppercase;
    font-family: var(--font-family-text);
    font-weight: 600;
    font-size: 0.5rem;
}

.cell {
    display: flex;
    align-items: center;
}

.cell p,
.cell .edit,
.cell .supr {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.75rem;
}

.action-cell {
    display: flex;
    gap: 28px;
}

.table-header .cell,
.table-row .cell {
    padding: 1.6rem 0;
    padding-left: 3.5rem;
}

.table-header .cell {
    font-weight: bold;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--color-bg-primary);
}

.list-book {
    display: none;
}

.card-list {
    background: white;
    border-radius: 20px;
    padding: 3.25rem;
    width: 20rem;
}

.card-list-header {
    display: flex;
    gap: 1.1rem;
}

.card-list img {
    width: 5rem;
    height: 5rem;
}

.card-list-infos {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;
}

.card-list-title {
    font-size: 0.875rem;
}

.card-list-author {
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.card-list-details {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 0.875rem;
    height: 62px;
    width: 220px;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
    margin-bottom: 2.6rem;
}

.card-list-actions {
    display: flex;
    gap: 2.6rem;
}

@media (max-width: 1390px) {
    .table {
        display: none;
    }

    .list-book {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

@media (max-width: 950px) {
    .account-flex {
        flex-direction: column;
    }

    .profil {
        padding-top: 2.5rem;
    }

    .profil-nb-book {
        margin-bottom: 2rem;
    }

    .infos {
        padding: 2.5rem 2rem;
    }
}

@media (max-width: 768px) {
    .account-container {
        padding: 4rem 1.25rem 3.875rem;
    }

    .account-container .title-primary {
        font-size: 1.875rem;
        margin-bottom: 2.5rem;
    }

    .list-book {
        flex-direction: column;
    }
}