header {
    display: flex;
    padding: 15px clamp(20px, 5vw, 150px);
    font-size: 14px;
}

.header-container {
    flex: 1;
}

.main-menu {
    display: flex;
    gap: 78px;
    align-items: center;
}

.logo {
    display: block;
    width: 138px;
}

.hamburger-menu {
    cursor: pointer;
}

.desktop-menu ul {
    display: flex;
    align-items: center;
    gap: 44px;
}

.user-actions {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .logo {
        width: 78px;
    }

    .main-menu {
        justify-content: space-between;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-bottom: 15px;
    }

    .user-actions {
        flex-direction: column;
        gap: 15px;
    }
}