.banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem 0;
}

.banner-section {
    width: 100%;
    max-width: 330px;
}

.banner-section .title-primary {
    margin-bottom: 1rem;
}

.banner-image {
    width: 100%;
    max-width: 404px;
}

.banner-image img {
    margin-bottom: 0.75rem;
}

.banner-image .text-mark {
    text-align: right;
    font-size: 0.75rem;
    margin-right: 3px;
    margin-bottom: 3rem;
}

.banner-detail {
    font-weight: var(--font-weight-secondary);
    line-height: 1.2;
    margin-bottom: 2.5rem;
}

.ajout {
    background: var(--color-bg-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.ajout .title-secondary {
    margin-bottom: 80px;
}

.ajout-list {
    display: flex;
    gap: 48px;
    margin-bottom: 48px;
}

.fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.fonctionnement .title-secondary {
    margin-bottom: 1.5rem;
}

.fonctionnement>p {
    width: 100%;
    max-width: 25rem;
    margin-bottom: 2.5rem;
}

.fonctionnement-list {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2.25rem;
}

.fonctionnement-step {
    background: white;
    border-radius: 10px;
    width: 215px;
    text-align: center;
    padding: 3rem 1.125rem;
    margin-bottom: 3rem;
    font-size: 0.875rem;
    color: #292929;
    line-height: 1.2;
}

.separator-img {
    width: 100%;
    height: 230px;
    background-image: url("../images/photos/homepage_2.jpg");
    background-position: 50% 40%;
    background-size: cover;
    background-repeat: no-repeat;
}

.valeurs {
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.valeurs .title-secondary {
    margin-bottom: 1.875rem;
}

.valeurs-text {
    width: 100%;
    max-width: 24.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 2.5rem;
}

.valeurs-text p {
    font-weight: var(--font-weight-secondary);
}

.valeurs .text-mark {
    font-size: 0.75rem;
    margin-bottom: 5rem;
}

.valeurs img {
    position: absolute;
    right: 33%;
    bottom: 12%;
}

@media (max-width: 768px) {
    .banner {
        flex-direction: column-reverse;
        padding-top: 0;
        padding-bottom: 3rem;
    }

    .banner-image .text-mark {
        margin-right: 26px;
        margin-bottom: 2rem;
    }

    .banner-section {
        padding: 0 1.25rem;
    }

    .banner-detail {
        margin-bottom: 2rem;
    }

    .ajout {
        padding: 48px 20px 80px;
    }

    .ajout .title-secondary {
        text-align: center;
        margin-bottom: 2rem;
        padding: 0 1rem;
    }

    .ajout-list {
        flex-wrap: wrap;
        gap: 13px;
    }

    .ajout .btn {
        display: none;
    }

    .fonctionnement {
        padding: 3rem 1.25rem;
    }

    .fonctionnement .title-secondary {
        margin-bottom: 1rem;
    }

    .fonctionnement>p {
        font-size: 0.875rem;
    }

    .fonctionnement-list {
        flex-direction: column;
        gap: 1rem;
    }

    .fonctionnement-step {
        width: 100%;
        margin: 0;
    }

    .fonctionnement-step:last-child {
        margin-bottom: 2rem;
    }

    .separator-img {
        height: 425px;
        background-position: 85% 40%;
    }

    .valeurs {
        display: block;
        padding: 2rem 1.25rem;
    }

    .valeurs .title-secondary {
        margin-bottom: 2.2rem;
    }

    .valeurs-text {
        font-size: 0.875rem;
        margin-bottom: 1.75rem;
    }

    .valeurs .text-mark {
        margin-bottom: 12.25rem;
    }

    .valeurs img {
        bottom: 6%;
    }
}