.public-container {
    display: flex;
    gap: 28px;
    padding: 103px 150px 212px;
    align-items: flex-start;
}

.public-profil {
    flex: 1 0 340px;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.public-list {
    flex: 0 1 771px;
}

.list-header {
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    border-bottom: 2px solid var(--color-bg-primary);
    padding: 26px 30px;
    padding-bottom: 8px;
}

.list-row {
    display: flex;
    padding: 26px 30px;
    font-size: 0.875rem;
}

.list-header .list-cell {
    flex: 1 1 192px;
    font-size: 0.6rem;
}

.list-row-header {
    display: flex;
    align-items: center;
    flex: 1 1 calc(2*192px);
}

.list-row:nth-child(even) {
    background: white;
}

.list-row-image {
    flex: 1 1 192px;

}

.list-row-image img {
    width: 78px;
    height: 78px;
    object-fit: cover;
}

.list-row-details {
    display: flex;
    flex: 1 1 calc(2*192px);
}

.list-row-details p {
    flex: 1 1 192px;
}

.list-row-description {
    display: -webkit-box;
    width: 192px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 65px;
}

.list-row:nth-child(odd) {
    background: #EDF2F6;
}

.list-row:last-child {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

@media (max-width: 1200px) {
    .public-list {
        flex: none;
        width: 100%;
        max-width: 400px;
        align-self: center;
    }

    .list-header {
        display: none;
    }

    .list-row {
        flex-direction: column;
        padding: 52px 56px 37px;
        height: 251px;
        border-radius: 20px;
        margin-bottom: 2rem;
    }

    .list-row-header {
        flex: none;
        gap: 18px;
        margin-bottom: 21px;
    }

    .list-row-image {
        flex: none;
    }

    .list-row-details {
        display: block;
    }

    .list-row-details p {
        flex: none;
    }

    .list-row-description {
        width: auto;
    }

    .list-row:nth-child(odd) {
        background: #fff;
    }
}

@media (max-width: 1100px) {
    .public-container {
        padding: 100px;
    }
}

@media (max-width: 950px) {
    .public-container {
        flex-direction: column;
        padding: 73px 22px 43px;
        align-items: normal;
    }
}