.container {
    display: flex;
    align-items: center;
    width: 100%;
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 130px 150px;
}

.form-container h1 {
    margin-bottom: 56px;
}

.form-container form {
    width: 322px;
}

.form-container .btn {
    padding: 22px 125px;
    margin-bottom: 40px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    height: 50px;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    margin-bottom: 32px;
}

.link {
    font-size: var(--font-size-primary);
}

.link a {
    text-decoration: underline;
}

.image-container {
    width: 720px;
    height: 886px;
    background-image: url("../images/png/bibliotheque.png");
    background-size: cover;
    background-position: center;
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
    }

    .image-container {
        width: 100%;

    }
}

@media (max-width: 768px) {
    .form-container {
        padding: 78px 20px 100px;
    }

    .form-container h1 {
        margin-bottom: 32px;
    }

    .form-container form {
        width: 335px;
    }

    .image-container {
        background-size: contain;
        height: 462px;
    }
}