/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

/* Import CSS */
@import "./reset.css";
@import "./base.css";
@import "./header.css";
@import "./footer.css";
@import "./formulaire.css";
@import "./homepage.css";
@import "./utilities.css";

/* Variables */
:root {
    --color-bg-primary: #F5F3EF;
    --color-bg-secondary: #FAF9F7;
    --color-bg-white: white;

    --bg-btn-primary: #00AC66;
    --bg-btn-hover: #006D41;
    --bg-bgn-alt: #F5F3EF;

    --color-font-primary: #292929;
    --color-font-secondary: #000;
    --color-font-tertiaire: #a6a6a6;
    --color-font-danger: #ac0000;

    --font-family-text: "Inter", serif;
    --font-family-title: "Playfair", serif;

    --font-weight-primary: 400;
    --font-weight-secondary: 300;
}