/* settings/typography.css */

:root {
    /* Polices */
    --font-text: "Inter", serif;
    --font-title: "Playfair", serif;

    /* Tailles de texte */
    --font-size-text-base: 1rem;
    --font-size-text-small: 0.875rem;
    --font-size-title-base: 2.25rem;
    --font-size-title-small: 2rem;

    /* Hauteurs de ligne */
    --line-height-text: 1.2;
    --line-height-title: 1.3;
}

.title-primary,
.title-secondary {
    font-family: var(--font-title);
    font-weight: 400;
    line-height: var(--line-height-title);
    color: var(--title-color);
}

.title-primary {
    font-size: var(--font-size-title-base);
}

.title-secondary {
    font-size: var(--font-size-title-small);
}

@media (max-width: 768px) {
    .title-primary {
        font-size: 1.875rem;
    }

    .title-secondary {
        font-size: 1.75rem;
    }
}