/* components/buttons.css */

.btn {
    text-align: center;
    font-size: var(--font-size-text-base);
    font-weight: 600;
    padding: 1.375rem 2.375rem;
    border-radius: 0.625rem;
    color: white;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}

.btn-primary {
    background: var(--primary-color);
}

.btn-alt {
    background: var(--background-primary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn-large {
    width: 100%;
}

.btn:hover {
    background: var(--primary-hover-color);
}

.btn-alt:hover {
    color: white;
}

@media (max-width: 768px) {
    .btn {
        display: block;
        width: 100%;
        text-align: center;
    }
}