/* components/flags.css */

.flag {
    width: fit-content;
    padding: 0.2rem 0.8rem;
    font-size: 0.6rem;
    font-weight: 500;
    border-radius: 30px;
}

.flag--available {
    background: #6DC5A1;
    color: white;
}

.flag--unavailable {
    background: #C56D6D;
    color: white;
}

.link-notify {
    position: relative;
}

.flag-notify {
    color: white;
    background: var(--text-color);
    font-size: 8px;
    width: 12px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: -16px;
}