/* components/profil.css */

.public-container {
    display: flex;
    gap: 28px;
    padding: 103px 150px 212px;
    align-items: flex-start;
}

@media (max-width: 950px) {
    .public-container {
        flex-direction: column;
        padding: 73px 20px 43px;
        align-items: stretch;
    }
}

/* Profil */
.profil {
    flex: 1 0 340px;
    background: var(--card-background-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.profil-image {
    border-radius: 50%;
    width: 135px;
    height: 135px;
    margin-bottom: 5px;
    object-fit: cover;
    object-position: center;
}

.profil-modify {
    font-size: var(--font-size-text-small);
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    color: var(--secondary-text-color);
}

.profil-title {
    font-family: var(--font-title);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: var(--line-height-title);
    margin-bottom: 0.7rem;
    text-transform: capitalize;
}

.profil-date {
    font-size: 0.875rem;
    color: var(--secondary-text-color);
    margin-bottom: 1.3rem;
}

.profil-library {
    font-size: 0.5rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}

.profil-nb-book {
    display: flex;
    justify-content: center;
    gap: 4px;
    font-size: 0.875rem;
    margin-bottom: 3rem;
}