.single-header {
    margin-left: 150px;
}

.single-link {
    font-size: 0.625rem;
    margin-bottom: 1rem;
}

.single-container {
    display: flex;
}

.single-image {
    width: 50%;
    max-width: 720px;
    object-fit: cover;
    height: 863px;
}

.single-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.single-content {
    width: 100%;
    max-width: 500px;
    padding: 3.75rem 0;
}

.single-content .title-primary {
    margin-bottom: 1rem;
}

.single-content .separator {
    background: var(--color-font-tertiaire);
    width: 1rem;
    margin: 2rem 0;
}

.single-subtitle {
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.single-description {
    font-size: 0.875rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 485px;
}

.single-owner {
    display: inline-flex;
    align-items: center;
    background: white;
    border-radius: 114px;
    gap: 12px;
    padding: 6px;
    padding-right: 1rem;
    margin-bottom: 5rem;
    cursor: pointer;
}

.single-owner .image-container {
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    /* Assure que l'effet reste dans le cercle */
}

.single-owner img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}

.single-owner .image-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-color);
    mix-blend-mode: multiply;
    opacity: 0;
}

.single-owner:hover .image-container::after {
    opacity: 1;
}

.single-owner:hover {
    color: var(--primary-color);
}


.single-owner:hover img::after {
    opacity: 1;
}

.single-owner p {
    font-size: 0.875rem;
}

.single-container .btn {
    display: block;
    width: 100%;
    max-width: 322px;
}

@media (max-width: 768px) {
    .single-link {
        display: none;
    }

    .single-container {
        flex-direction: column;
    }

    .single-image {
        width: 100%;
        max-width: 100%;
        height: 449px;
    }

    .single-section {
        display: block;
        padding: 0 20px;
    }

    .single-content {
        padding: 2.5rem 0 5rem;
    }

    .single-content .title-primary {
        margin-bottom: 2.5rem;
    }

    .single-description {
        margin-bottom: 2.5rem;
    }

    .single-container .btn {
        max-width: 100%;
    }
}